
h1{background-color:black;
	padding:10px;
}

body{background-color:rgb(10%, 2%, 40%); 
color:white;
font-family:verdana;
padding:20px;
}

body.home{background-image: url(img/home.jpg);
	background-repeat:no-repeat;
}

body.calc{
	background: linear-gradient(to bottom right, black , navy);
}

a{color:orange;
background-color:black;
padding:12px;
}

a:hover{color:hotpink;
}

div.calc{background-color:rgb(5%, 2%, 10%);
font-size:24px;
width:300px;
padding:12px;
position:relative;
left:100px;
top:100px;
	
}

button{ background-color:rgb(60%, 70%, 70%);
width:40px;
font-size:24px;
}

button.bigButton{width:80px;
}

button:hover{background-color:lightyellow;
}

button:active{background-color:orange;	
}

textarea{font-size:23px;
	background-color:rgb(5%, 2%, 10%);
	border:solid white;
	color:white
}

