

html{padding:0px 8px 0px 10px
}

.header{
	padding:5px 1px 1px 1px;
}

button, input, label, div, textarea{ margin: 5px 5px 5px 5px;
}

nav{ 	background-color: rgb(55, 30, 56); 
	overflow:hidden;
}
a{ padding:5px;
}
li, a{  display:block; 
	float:left; 
}

a.home{ font:bold 16px  verdana ;
	color:pink;
}

a.home:hover{ box-shadow: 0px 2px 17px red;  
	color:red;
}

a.home:active, a.active{ background-color: rgb(215, 180, 186); 
	color:black; 
	/* font-size:99% */
}

button.small{ transition:padding 1s ease-in-out
}

button.small:hover{ padding:8px 
}

button.delete{	background-color:red; 
	color:white;
}

button:active{ opacity: .6 ;
font-size: 87%;
}

button:disabled{ border:black solid 2px; 
	background-color:pink; 
	color:black 
}

input, textarea{ background-color:transparent; 
	color:lime; 
	font-size:16px 
}


label.error, label.ng-invalid{ color:red;
	font-style:italic;
	animation: errorLabel 2s infinite;
}
@keyframes errorLabel{
	from {	} 
	to {	text-shadow: 3px 0px 15px red;
	}	
}

